a, a:visited{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #fff;
}

.chirp-user-img{
    border-radius: 50%;
    float: right;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.main-container, .user-col, .chirps-col{
    height: 100vh;
    background-color: #222;
    overflow-x: scroll;
}

.chirps-box{
    background-color: #111;
    width: 600px;
    height: 95vh;
    overflow-y:  scroll;
    margin-top: 25px;
    border-radius: 25px;
    padding-right: 0;
    position: fixed;
}

#chirps-box-label{
    background: #0e0e0e;
    color: #fff;
    padding: 32px 50px 25px 25px;  
    position: fixed;
    width: inherit;
    border-radius: 25px 25px 0 0;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}

#post-chirp{
    padding: 120px 50px 32px 50px;
    width: 100%;
    padding-bottom: 75px;
    border-bottom: 1px #222 solid;
}

#new-chirp-label{
    float: left;
}

.new-chirp-input{
    width: 100%;
    min-height: 100px;
    resize: none;
    background: none;
    color: #fff;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 5px;
    overflow: hidden;
}

.new-chirp-button{
    margin-top: 8px;
    float: right;
    width: 6vw;
    border: 0;
    border-radius: 50px;
    color: #333;
    font-weight: 700;
    background: #fff;
}

.new-chirp-button:hover{
    color: #fff;
    background: #333;
}

.chirp{
    border-bottom: 1px #222 solid;
    padding: 25px 10px 25px 10px;
}

.chirp:hover{
    background-color: #0e0e0e;
}

.chirp-user{
    font-weight: 700;
}

.chirp-body{
    font-size: 18px;
}

.chirp-time{
    font-size: 14px;
}

.likes-label{
    font-size: 18px;
    float: right;
}

.like-button{
    background: none;
    border: none;
    color: #fff;    
}

.like-button:hover{
    color: red;
}